= simple_form_for [@round.tournament, @round] do |f|
  = f.input :name
  = f.input :expiration_date
  = f.association :tournament

  -# GAMES #-
  = f.fields_for :games do |g|
    = render 'game_fields', f: g
  = link_to_add_fields "Add Game", f, :games

  = f.button :submit
