= simple_form_for @form_for, html: { class: "form-horizontal" } do |f|
  = f.input :name
  = f.input :expiration_date

  -# GAMES #-
  = f.fields_for :games do |g|
    = render 'game_fields', f: g
  %div
    = link_to_add_fields "Add another game", f, :games
  = f.button :submit, "Save"
