%h1= "#{@round} - Bet!"

- if @round.errors.any?
  %h2= "#{pluralize(@round.errors.count, "error")} prohibited this round from being saved:"
  %ul
    - @round.errors.full_messages.each do |message|
      %li= message

%p
  %b Last time to bet:
  = @round.expiration_date
%p
  %b Tournament:
  = link_to @round.tournament, tournament_path

= simple_form_for :bet, url: update_bet_round_path(@round), method: :put do |f|
  %b Games:
  %table
    %tbody
      %tr
        %th Description
        %th Team 1
        %th Team 2
        %th Time
        %th Points
        %th Result
      - @bets.each do |bet|
        %tr
          %td= bet.game.description
          %td= bet.game.team1
          %td= bet.game.team2
          %td= bet.game.start_time
          %td= bet.game.bet_points
          %td
            = f.input :answer, as: :radio_buttons, collection: bet.answer_hash, checked: Bet.answers[bet.answer], boolean_style: :inline, input_html: { name: "bets[#{bet.game.id}]" }
  = f.submit
