%h1 Listing rounds

%table
  %thead
    %tr
      %th Round
      %th Expiration date
      %th Tournament
      - if current_user.try(:admin?)
        %th
        %th

  %tbody
    - @rounds.each do |round|
      %tr
        %td= link_to round.name, round 
        %td= round.expiration_date
        %td= round.tournament
        - if current_user.try(:admin?)
          %td= link_to 'Edit round', edit_round_path(round)
          %td= link_to 'Delete round', round, method: :delete, data: { confirm: 'Are you sure?' }

- if current_user.try(:admin?)
  %p
  = link_to 'New Round', new_tournament_round_path
