%h1 Listing rounds

%table
  %thead
    %tr
      %th Name
      %th Expiration date
      %th Tournament
      %th
      %th
      %th

  %tbody
    - @rounds.each do |round|
      %tr
        %td= round.name
        %td= round.expiration_date
        %td= round.tournament
        %td= link_to 'Show', round
        %td= link_to 'Edit', edit_round_path(round)
        %td= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Round', new_tournament_round_path
