%p
  %b Name:
  = @round.name
%p
  %b Last time to bet:
  = @round.expiration_date.to_formatted_s(:istra)
  - if @round.open?
    (Open)
  - else
    (Closed)
    
%p
  %b Tournament:
  = link_to @round.tournament, tournament_path(@round.tournament)

%p
  %b Games:
  %table.table.table-dark.table-striped.table-hover

    %tbody
      %tr
        %th Description
        %th Team 1
        %th Team 2
        %th Time
        %th Points
        %th Result
        %th My Bet
      - @bets.each do |bet|
        %tr
          %td= bet.game.description
          %td= bet.game.team1
          %td= bet.game.team2
          %td= bet.game.start_time.to_formatted_s(:istra)
          %td= bet.game.bet_points
          %td= bet.game.result_name
          %td= bet.answer_name

- if @round.open?
  = link_to 'Bet!', bet_round_path(@round), class: "btn btn-small btn-primary"
- if current_user.try(:admin?)
  = link_to 'Edit round', edit_round_path(@round), class: "btn btn-small btn-danger"
  = link_to 'Send mail', mail_round_path(@round), class: "btn btn-small btn-danger"
= link_to 'Back', tournament_path(@round.tournament_id), class: "btn btn-small btn-info"
