%p
  %b Name:
  = @round.name
%p
  %b Last time to bet:
  = @round.expiration_date.to_formatted_s(:istra)
  - if @round.open?
    (Open)
  - else
    (Closed)
    
%p
  %b Tournament:
  = link_to @round.tournament, tournament_path(@round.tournament)

- if not @bets.empty?
  %p
    %b Games:
    %table.table.table-dark.table-striped.table-hover.my-table

      %tbody
        %tr
          %th Description
          %th Team 1
          %th Team 2
          %th Time
          %th Points
          %th Result
          %th My Bet
        - @bets.each do |bet|
          %tr
            %td= bet.game.description
            %td= bet.game.team1
            %td= bet.game.team2
            %td= bet.game.start_time.to_formatted_s(:istra)
            %td= bet.game.bet_points
            %td= bet.game.result_name
            %td= bet.answer_name

- if not @mc_bets.empty?
  %p
    %b Multi-Choice:
    %table.table.table-dark.table-striped.table-hover.my-table

      %tbody
        %tr
          %th Description
          %th Options
          %th Points
          %th Result
          %th My Bet
        - @mc_bets.each do |mc|
          %tr
            %td= mc.multi_choice.description
            %td= mc.multi_choice.options_str
            %td= mc.multi_choice.bet_points
            %td= mc.multi_choice.result
            %td= mc.answer_name

- if current_user.try(:admin?)
  %h3.center User who already bet
  %table.table.table-dark.table-striped.table-hover
    %tr
      %th Index
      %th User
    - @round.users_who_bet.each_with_index do |user, index|
      %tr
        %td= index + 1
        %td= user

- if @round.closed?
  - all_bets = @round.all_users_bets
  - all_games = all_bets.map{|k, v| v[:games].keys}.flatten.uniq
  - all_mcs = all_bets.map{|k, v| v[:mcs].keys}.flatten.uniq
  %h3.center All bets
  %table.table.table-dark.table-striped.table-hover
    %tr
      %th User
      - all_games.each do |g|
        %th= Game.find_by_id(g).short_description
      - all_mcs.each do |m|
        %th= MultiChoice.find_by_id(m).short_description
    - all_bets.each do |user, games_and_mcs|
      %tr
        %td= user
        - all_games.each do |game|
          %td= games_and_mcs[:games][game] or "-"
        - all_mcs.each do |mc|
          %td= games_and_mcs[:mcs][mc] or "-"
  

- if @round.open?
  = link_to 'Bet!', bet_round_path(@round), class: "btn btn-small btn-primary"
- if current_user.try(:admin?)
  = link_to 'Edit round', edit_round_path(@round), class: "btn btn-small btn-danger", "data-turbolinks" => false
  = link_to 'Send mail', mail_round_path(@round), class: "btn btn-small btn-danger"
= link_to 'Back', tournament_path(@round.tournament_id), class: "btn btn-small btn-info"
