= simple_form_for @tournament do |f|
  = f.input :name
  = f.input :description
  = f.submit 'Save', class: "btn btn-small btn-primary"
  = link_to "Cancel", @tournament, class: "btn btn-small btn-info"
