%h1
  = @tournament.name
%p
  = @tournament.description

%h3.center Rounds
%table.table.table-dark.table-striped.table-hover
  %tr
    %th Round Name
    %th Bet
    %th Download calendar
  - @tournament.rounds.each do |round|
    %tr
      %td= link_to round, round_path(round)
      %td
        - if round.open?
          =link_to "Bet!", bet_round_path(round)
        - else
          ="No more bets"
      %td= link_to "ics Calendar", calendar_round_path(round), "data-turbolinks" => false

%h3.center Scoreboard
%table.table.table-dark.table-striped.table-hover
  %tr
    %th Rank
    %th User
    %th Points
  - @tournament.scores.each_with_index do |(user_id, score), index|
    %tr
      %td= index + 1
      %td= user_id
      %td= score


-if current_user.try(:admin?)
  = link_to 'Add a new round', new_tournament_round_path(@tournament)
  \|
  = link_to 'Edit tournament details', edit_tournament_path(@tournament)
  \|
  = link_to 'Send email to users', mail_tournament_path(@tournament)
  \|
= link_to 'Back', tournaments_path
