%h1.center Beti-Bam - Rules

%h2 Betting:
%ul
  %li The bets are on the result after 90 minutes (not including extra time and penalties)
  %li The bets on all the games of each round should be placed until one hour before the beginning of the round
%h2 Scores:
%ul
  %li Group stage: 1 point for each game (total 48 points)
  %li Round of 16: 2 points for each game (total 16 points)
  %li Quarter finals: 3 points for each game (total 16 points)
  %li Semi finals: 4 points for each game (total 16 points)
  %li Final: 5 points
  %li Early betting on the winner - a correct bet is worth 10 points
%h2 Prizes:
%ul
  %li Participation: 50 NIS
  %li To keep things interesting we will mix things up a little.
  %li The winner gets 50% of the money
  %li Second prize is 20% of the money
  %li Third prize is 10% of the money 
  %li 10th place is 10% of the money
  %li Last place is 10% of the money

%hr.col-xs-12
%h1.center= link_to "Tournaments", tournaments_path
%table.table.table-dark.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th 
  %tbody
    - @tournaments.each do |tournament|
      %tr
        %td= link_to tournament.name, tournament
        %td= tournament.description

-if current_user.try(:admin?)
  %hr.col-xs-12
  %h1.center Users
  %table.table.table-dark.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Email
        %th Subscribed
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.subscription

.logo
  = image_tag "logo.png"
